.jumbotron {
    background-color: #6c3483;
    /* Purple */
    color: #ffffff;
    padding: 100px 25px;
  }



  .container-fluid1 {
    padding: 0px 50px;
  }

  .container-fluid2 {
    padding: 100px 50px;
  }

  .bg-1 {
    background-color: #cd005d;
    color: #ffffff;
    padding: 50px 25px;
  }

  .bg-2 {
    background-color: #ffffff;
    padding: 100px 25px;
  }

  .bg-3 {
      background-color: #cd00c3;
      color: #ffffff;
      padding: 100px 25px;
  }